// Entry point for application specific styles
.user-instruction {
  padding: 0 10% 0 10%;
  font-size: 1.5rem;
}

.player-index {
  padding: 0 10% 0 10%;
  opacity: 0.33;
  font-size: 50vh;
  font-weight: bold;
}
